*{
  box-sizing: border-box;
  text-align: center;
}

header{
  background-color: grey;
  width: 100%;
}
header nav ul li
{
  background-color: grey;
  display: inline-block;
  position: relative;
  padding-left :150px;
}
header nav ul li img
{
  align-content: left;
  text-align: left;
  padding-left: 0%;
  background-color: white;
 width: 200px;
 height: 70px;
}


nav{
  display: inline-block;
}
li{
  display: inline-block;
}
ul{
  display: inline-block;
}
#img{
  width: 100%;
}

main{
  width: 100%;
  height: 60%;
  padding: 20px 60px 20px 60px ;
  
}

main nav ul{
  display: inline-block;
}
#Pic1{
  width: 100%;
  
}

#leftSide{
float: left;
width :50%;
}

#rightSide{
  float:right;
width :50%;
}
#threePics
{
  display: inline-block;
  width: 100%;

}
footer{
  clear: both;
  background-color: grey;
 
}
#callBut  {
  text-decoration: solid;
  color: black;
  border: rgb(94, 84, 84) solid 3px;
  background-color: rgb(136, 120, 120);
 padding: 20px;
 margin-bottom: 5%;

}

nav ul img {
 
 width: 100%;
 display: flex;
justify-content: space-between;

}


#par1{
  font-weight: bold;
  font-size: large;
}
#par2{
  font-style: italic;
  font-weight: bold;

}
div.scroll {
   
  overflow: scroll;
  width: 50%;
  height: 480px;
}
